logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID

/.DS_Store
/app/views/stores/.DS_Store
/app/views/.DS_Store
/app/.DS_Store