@(user: User)

@main(title = "Home") {
    @if(user != null) {
        <div style="float: left;"><img src="@user.getPicture()" /></div>
        <div style="float: left; margin-left:20px;">
            <p>Hello, <strong>@user.name</strong> (<a href="@routes.Application.logout">Log out</a> )</p>
            <p>Your email address is @user.email and you were born on @user.birthday.format("dd/MM/yyyy")</p>
            <p>Registered on @user.createdAt.format("dd/MM/yyyy HH:mm")</p>
        </div>
    } else {
        <p><a href="@routes.Facebook.fbConnect"><img src="@routes.Assets.at("images/facebook-connect-button-21.png")" /></a>
    </p>
}
}
